[user]
	name = Lewis Chan
	email = 8966669+lwschan@users.noreply.github.com
	signingkey = 1B8577F45303BA1C
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager-core.exe
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[credential "https://dev.azure.com"]
	useHttpPath = true
[commit]
	gpgsign = true