[user]
	name = Lewis Chan
	email = yeouw95@gmail.com
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/libexec/git-core/git-credential-manager-core.exe
	useHttpPath = true
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
