[submodule "utilities/tfenv"]
	path = utilities/tfenv
	url = git@github.com:tfutils/tfenv.git
[submodule "zsh-plugins/zsh-autosuggestions"]
	path = zsh-plugins/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh-plugins/zsh-syntax-highlighting"]
	path = zsh-plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
[submodule "zsh-themes/typewritten"]
	path = zsh-themes/typewritten
	url = git@github.com:reobin/typewritten.git
[submodule "utilities/jenv"]
	path = utilities/jenv
	url = git@github.com:jenv/jenv.git
[submodule "zsh-themes/geometry"]
	path = zsh-themes/geometry
	url = git@github.com:geometry-zsh/geometry.git
