[user]
	name = Lewis Chan
	email = 8966669+lwschan@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[credential]
	helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
[alias]
	hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
